nav{
    background-color: #232536 ;
    width: 100%;
    height: 80px;
    max-width: 100%;
}

.navbar-brand{
    font-weight: 500;
    font-size: 2rem !important;
    color: #FFFFFF !important;
}

nav .ml-auto a{
    color: #FFFFFF !important;
}

nav .ml-auto a:hover{
    color: #6D6E76 !important;
    transition: .3s ease-in-out;
}


@media  (max-width: 576px) {
   body{
    border: 1px solid red;
}

    .navbar-nav .nav-link {
        padding-left: 210px !important;
    }


    .navbar-toggler {
    background-color: white !important;
}

    #basic-navbar-nav{
    background-color: #232536 ;
    z-index: 3;
    padding-bottom: 30px;
    }

    nav .White-Button a{
    background-color: #FFD050;
    color: #232536;
    margin-left: 182px !important;
    margin: 12px;
    width: 125px;
    height: 45px;
}

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    body{
        border: 1px solid green;
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 240px !important;
    }

        #basic-navbar-nav{
        background-color: #232536 ;
        z-index: 3;
        padding-bottom: 30px;
        }

    nav .White-Button a{
        background-color: #FFD050;
        color: #232536;
        margin-left: 203px !important;
        margin: 14px;
        width: 140px;
        height: 49px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{
        border: 1px solid yellow;
    }

    .Nav.Link{
        margin-left: 50px;
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .navbar-nav .nav-link {
        padding-left: 330px !important;
    }

    #basic-navbar-nav{
    background-color: #232536 ;
    z-index: 3;
    padding-bottom: 30px;
    }

    nav .White-Button a{
        background-color: #FFD050;
        color: #232536;
        margin-left: 296px !important;
        margin: 19px;
        width: 150px;
        height: 50px;
    }
}
