.title h3{
    color: #232536;
    font-weight: bold;
}

.Lift-Title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Center-Title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}